.users-reviews {
  display: flex;
  gap: 20px;
  padding: 111px 0;
}

.users-reviews .card {
  position: relative;
  padding: 38px 25px 17px 36px;
}
.users-reviews .backgrondimg {
  position: absolute;
  top: 0;
  left: 0;
}
.header {
  text-align: center;
}
.users-reviews h3 {
  font-weight: 700;
}

.users-reviews .description {
  margin-top: 15px;
  padding: 0 19px;
}
.flexbox {
  margin-top: 67px;
}

@media (max-width: 1024px) {
  .users-reviews {
    padding: 108px 0;
  }
  .users-reviews .card {
    padding: 37px 12px 16px 18px;
  }
  .users-reviews .description {
    margin-top: 12px;
    padding: 0 24px;
  }
}
@media (max-width: 768px) {
  .users-reviews {
    padding: 96px 0;
  }
  .users-reviews .card {
    padding: 28px 8px 7px 15px;
  }
  .users-reviews .description {
    margin-top: 9px;
    padding: 0 22px;
  }
  .flexbox {
    margin-top: 13px;
  }
}
