.btn {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 12px 20px;
    font-weight: 700;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}
.signup-btn {  
    background-color: var(--tropical-green-color);
  }

  .signin-btn {
    background-color: var(--tomato-color);
  }

  @media screen and (min-width: 768px) {
    .signup-btn, .signin-btn {
        display: flex;
        padding: 5px 10px;
    }
  }

  @media screen and (min-width: 1024px) {
    .signup-btn, .signin-btn {
        display: flex;
        padding: 12px 20px;
    }
  }