.layout-section {
  display: flex;
  justify-content: center;
  gap: 2%;
  align-items: center;
  background: linear-gradient(
    270.06deg,
    var(--primary-color) 0.05%,
    var(--deep-violet-color) 76.2%
  );
  padding: 40px;
  color: white;
  height: 740px;
}

.card-section {
}

.btn-wrapper {
  width: 100%;
  margin-right: 50px;
  margin-top: 50px;
}

.explore-button {
  padding: 32px 98px;
  height: 80px;
  background-color: var(--tomato-color);
  color: white;
  border-radius: 10px;
  font-size: 19px;
  font-weight: 700;
  gap: 10px;
}

@media (max-width: 1024px) {
  .layout-section {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .card-section {
    width: 70%;
    text-align: center;
  }

  .btn-wrapper {
    margin: 0;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .card-section {
    width: 100%;
  }
}
