.carousel-container {
  position: relative;
  width: 100%;
  padding-inline: 60px;
  /* Adjust this width as needed */
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: visible;
}

.carousel-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel-items {
  width: calc(100% - 20px);
  margin-inline: auto;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  transition: transform 0.5s ease-in-out;
  gap: 30px;
}

.carousel-item-4, .carousel-item-3 {
  flex-shrink: 0;
  transition: transform 0.5s;
}
.carousel-item-4 {
  flex-basis: calc((100% / 4) - (90px / 4));

}
.carousel-item-3 {

  flex-basis: calc((100% / 3) - (60px / 3));
}

.arrow-button {
  background-color: transparent;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}


.arrow-left {
  transform: scale(.8);
  position: absolute;
  left: -10px;
}

.arrow-right {
  transform: scale(.8);

  position: absolute;
  right: -10px;
}




@media (max-width: 768px) {
  .carousel-item-3, .carousel-item-4 {
    /* 2 columns for tablets */
    flex-basis: 100%;

  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .carousel-item-3, .carousel-item-4 {
    flex-basis: calc((100% / 2) - 15px);
  }
  .carousel-container {
    padding-inline: 75px;
  }
  .carousel-items {
    width: 89%;
  }
  .arrow-left, .arrow-right {
    transform: scale(.7);
  }
  .arrow-left {
    left: 0px;
  }
  .arrow-right {
    right: 0px;
  }
}

@media screen and (min-width: 1024px) {
  .carousel-container {
    padding-inline: 80px;
  }
  .carousel-items {
    width: calc(100% - 40px);
  }
  .arrow-left, .arrow-right {
    transform: scale(1);
  }
  .arrow-left {
    left: 20px;
  }
  .arrow-right {
    right: 20px;
  }
}