.nav {
    padding: 25px;
    background-color: rgba(113, 52, 136, 0.678);
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items-desktop {
    display: none;
}
.nav-items-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: white;
    margin-top: 25px;
}
.nav-close-icon {
    color: white;
    font-weight: 500;
    font-size: 30px;
}

.nav-btns {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logout-icon {
    transform: scale(.7);
}
.user-icon {
    transform: scale(.85);
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .burgor-icon {
        display: none;
    }
    .nav-items-mobile {
        display: none;
    }
    .nav-items-desktop {
        display: flex;
        gap: 20px;
        color: white;
    }

    .logout-icon {
        transform: scale(1);
    }
    .user-icon {
        transform: scale(1);
    }
}

@media screen and (min-width: 1025px) {
    .burgor-icon {
        display: none;
    }
    .nav-items-mobile {
        display: none;
    }
    .nav-items-desktop {
        display: flex;
        gap: 40px;
        color: white;
    }
    .logout-icon {
        transform: scale(1);
    }
    .user-icon {
        transform: scale(1);
    }
}