@import url('../../app/globals.css');

/* Custom Card Styling */
.customCard {
  width:900px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  margin-left: 100px;
  margin-right: 100px;

  }

/* Inner Sections */
.card-section {
  margin-top: 47px;
  width: 100%; /* Default width (on mobile) */
  box-sizing: border-box;
  width: 26%;
}

/* Header Styling */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.heading {
  font-size: 23px;;
  margin-top: 27px;
  margin-bottom: 37px;
}


/* Avatar Styling */
.avatar {
  margin-bottom: 0.5rem;
  background-color: var(--primary-color);
  width:130px;
  height: 130px;
}

/* Footer Styling */
.footer {
  align-items: center;

}
.button {
  width: 200px;
  height:60px ;
  margin-bottom: 47px;
  background-color: var(--tropical-green-color);
}

/* Media Queries for Responsive Design */

/* On mobile (width 600px and below) */
@media (max-width: 600px) {
  .customCard {
    width: 52%;
  }

  .card-section {
    width: 100%;
  }
}

/* On tablet (width between 601px and 900px) */
@media (min-width: 601px) and (max-width: 900px) {
  .customCard {
    width: 49%;
  }

  .card-section {
    width: 100%;
  }
}

/* On desktop (width 901px and above) */
/* @media (min-width: 901px) {
  .customCard {
    width: 46%;
  }

  .card-section {
    width: 32%;
  }
} */
