.image-section {
  position: relative;
  width: 600px;
  height: 544px;
  margin-right: 7%;
}

.image {
  position: absolute;
  width: 357px;
  border-radius: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image-1 {
  top: 0;
  right: 0;
  height: 326px;
}

.image-2 {
  bottom: 4px;
  left: 3%;
  height: 339px;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .image-section {
    width: 80%;
    height: auto;
  }

  .image {
    width: 100%;
    height: auto;
  }

  .image-1,
  .image-2 {
    position: static;
    margin-top: 20px;
  }
}
