.image-section {
  position: relative;
  /* width: 600px; */
  width: 100%;
  height: 544px;
  /* margin-right: 7%; */
  /* background-color: red; */
}

.image {
  position: absolute;
  width: 60%;
  height: 60%;
  border: 3px solid #fffefe;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image-1 {
  top: 0;
  right: 0;
  /* height: 326px; */
  /* width: 55%; */
}

.image-2 {
  bottom: 0;
  left: 0;
  /* height: 339px; */
  /* width: 55%; */
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .image-1 {
    width: 60%;
    height: 60%;
  }
  .image-2 {
    width: 60%;
    height: 60%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .image-section {
    /* width: 80%; */
    /* height: 600px; */
  }
  .image {
    /* width: 60%; */
    /* height: auto; */
  }
  .image-1 {
    /* top: 50px; */
  }

  .image-2 {
    /* top: 37%; */
    /* right: 30%; */
  }
}
@media (max-width: 768px) {
  .image-section {
    /* width: 100%; */
    height: 320px;
  }
  .image {
    width: 70%;
    /* height: 60%; */
  }
  .image-1 {
  }
}
