/* ArrowButton.module.css */

.arrow-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-left {
  left: 60px;
}

.arrow-right {
  right: 60px;
}

@media (max-width: 1024px) {
  .arrow-left {
    left: 70px;
    width: 80px;
  }

  .arrow-right {
    right: 70px;
    width: 80px;
  }
}

@media (max-width: 768px) {
  .arrow-left {
    left: 30px;
    width: 40px;
  }

  .arrow-right {
    right: 30px;
    width: 40px;
  }
}
