.container {
    text-align: center;
    padding: 20px;
  }
  
  .image {
    width: 90%;
    border-radius: 15px;
    max-width: 300px;
    height: auto;
    margin-inline: auto;
  }
  
  .message {
    font-size: 1.2rem;
    margin: 20px 0;
    color: #333;
  }
  
  .button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #462576;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
 
  