.card-text {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 8px;
  direction: rtl;
}

.card-header {
  display: flex;
  gap: 12px;
}

.card-icon {
  width: 24px;
  height: 24px;
  margin-bottom: 8px;
}

.card-text-title {
  font-weight: 700;
  margin-bottom: 10px;
}

.card-text-description {
  font-size: 19px;
  font-weight: 500;
  line-height: 22.8px;
  margin-right: 45px;
}
@media (max-width: 1440px) {
  .card-header {
    justify-content: center;
  }
}
@media (max-width: 1024px) {
  .card-text-description {
    margin-right: 0;
  }
}
