/* Main container */
.design-container {
    position: relative;
    height: 1068px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Video styles */
  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
     /* Video stays in the background */
  }
  
  .desktop-video {
    display: block; /* Display desktop video by default */
  }
  
  .mobile-video {
    display: none;
  }
  
  /* Content styling */
  .content {
    gap: 100px;
    display: flex;
    flex-direction: row-reverse; /* Character section on the right */
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
    padding: 0 2rem;
    text-align: right;
    z-index: 1; /* Above the video */
    color: white;
  }
  
  /* Text section */
  .text {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .description {
    margin-top: -250px;
    width: 100%;
    max-width:633px;
    font-size: 27px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 2rem;
  }
  
  .cta-button {
    margin-top: 20px;
    width: 200px;
    height: 60px;
    background: #FF6542;
    color: white;
    padding: 0.75rem 2.8rem;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 700px;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 0.5rem;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    transform: scale(1.05);
  }
  
  /* Character section */
  .character {
    padding-left: 80px;
    padding-right: 120px;
    z-index: 1;
    margin-top: -390px;
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .character-text {

    margin-top: 60px; 
    font-size: 80px; 
    font-weight: 700;
    color: white;
    text-align: center;
    line-height: 40px;
    z-index: 1;
  }

  
  @media screen and (max-width: 1024px) {
    .design-container{
      flex-direction: column;
      gap:40px;
    }
    .background-video {
      display: none; /* Hide desktop video */
    }
  
    .mobile-video {
      display: block; /* Show mobile video */
    }
  
    .content {
      flex-direction: column; /* Stack content vertically */
      align-items: center;
      text-align: center;
    }
/*   
    .character {
      order: 1;
    } */
  

  
    .character-text {
      font-size: 1rem;
      margin-top: 10px;
    }
  
    /* .text {
      order: 2;
      margin-top: 15px;
    } */
  
    .description {
      font-size: 1.2rem;
      line-height: 1.6rem;
    }
  
    /* .cta-button {
      order: 3;
      margin-top: 20px;
      font-size: 1rem;
    }
   */
  }
  
  @media screen and (min-width: 769px) {
    
  }
    